* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}



.calculator {
    width: 300px;
    background: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    justify-content: center;
}

.display {
    width: 100%;
    height: 60px;
    background: black;
    color: whitesmoke;
    font-size: 28px;
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

button {
    height: 55px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: gray;
    color: whitesmoke;
    transition: 0.2s;
}

button:hover {
    background: darkgrey;
}

.equal {
    background: black;
    color: whitesmoke;
}

.equal:hover {
    background: darkgrey;
}


