$primary-color: rgb(92, 74, 74);
$bg-color: rgb(173, 172, 172);
$text-color: whitesmoke;
$card-bg: rgb(131, 131, 131);
$border-color: pink;



.box {
    background-color: $card-bg;
    border: 1px solid $border-color;
    padding: 10px;
}

/* Common Image Style */
.image-style {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.container {
    width: 90%;
    margin: auto;
    background-color: $bg-color;
    padding-bottom: 20px;
}

.navbar {
    height: 40px;
    background-color: $primary-color;
    padding: 3px;
    font-weight: 700;

    ul {
        list-style: none;
        display: flex;
        

        li {
            color: $text-color;
            margin-right: 20px;
            cursor: pointer;
        }
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

.card {
    @extend .box;

    img {
        @extend .image-style;
    }

    p {
        text-align: center;
        margin-top: 8px;
        font-size: 14px;
    }
}
